<div>
  <button class="add-button" (click)="createListener()" i18n="@@create-listener">Create listener</button>
</div>

<div *ngIf="listeners" class="grid-container">
  <div class="grid-item" *ngFor="let listener of listeners">
    <div>{{listener.subdivisionId['name']}}</div>
    <div>{{listener.systemUserId.name + " " + listener.systemUserId.family}}</div>
    <div class="controls">
      <button class="button" (click)="selectListener(listener)">
        <i class="material-icons" style="font-size: 30px">
          edit
        </i>
      </button>
      <button class="button" (click)="deleteListener(listener.id)">
        <i class="material-icons" style="font-size: 30px">
          close
        </i>
      </button>
    </div>
  </div>
</div>

<div *ngIf="hasError" i18n="@@error">Error</div>
<app-spinner *ngIf="isFetching"></app-spinner>

<app-update-listener-form
  *ngIf="openDialog"
  [listener]="selectedListener"
  [operators]="operators"
  [subdivisions]="subdivisions"
  [type]="dialogType"
  [(visible)]="openDialog"
  (listenerChange)="changeListener(event)"
>
</app-update-listener-form>

