<div
  class="change-theme-wrapper"
  (mouseenter)="showContent(true)"
  (mouseleave)="showContent(false)"
>
  <div class="head-theme">
    <i class="material-icons main-icon" style="font-size: 30px">
      settings_system_daydream
    </i>
  </div>
  <div *ngIf="visibleContent" class="theme-content">
    <div class="theme-item" (click)="changeTheme('blue')">
      <i class="material-icons" style="font-size: 30px">
        brush
      </i>
      <span i18n="@@blue">Blue</span>
    </div>
    <div class="theme-item" (click)="changeTheme('red')">
      <i class="material-icons" style="font-size: 30px">
        brush
      </i>
      <span i18n="@@red">Red</span>
    </div>
    <div class="theme-item" (click)="changeTheme('green')">
      <i class="material-icons" style="font-size: 30px">
        brush
      </i>
      <span i18n="@@green">Green</span>
    </div>
  </div>
</div>
