<div>
  <button class="add-button" (click)="createBranch()" i18n="@@create-branch">Create branch</button>
</div>

<div *ngIf="branches" class="grid-container">
  <div class="grid-item" *ngFor="let branch of branches">
    <div>
      <div class="item">{{branch.name}}</div>
      <div class="item">{{branch.address}}</div>
    </div>
    <div class="controls">
      <button class="button" (click)="selectBranch(branch)">
        <i class="material-icons" style="font-size: 30px">
          edit
        </i>
      </button>
      <button class="button" (click)="deleteBranch(branch.id)">
        <i class="material-icons" style="font-size: 30px">
          close
        </i>
      </button>
    </div>
  </div>
</div>

<div *ngIf="hasError" i18n="@@error">Error</div>
<app-spinner *ngIf="isFetching"></app-spinner>

<app-update-branch-form
  *ngIf="openDialog"
  [branch]="selectedBranch"
  [type]="dialogType"
  [(visible)]="openDialog"
  (branchChange)="changeBranch(event)"
>
</app-update-branch-form>


