.head-user .material-icons:after {
  content: '';
  display: inline-block;
  position: relative;
  top: 4px;
  margin-left: 4px;
  margin-right: 0;
  height: 8px;
  border-style: solid;
  border-width: 3px 3px 0 3px;
  border-color: var(--light-text-color) transparent transparent transparent;
}

.head-user .material-icons {
  display: flex;
  align-items: center;
}

.user-wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
}

.user-item .material-icons {
  margin-right: 8px;
}

.user-content {
  position: absolute;
  top: 90%;
  right: 0;
  background-color: var(--light-bg-color);
  border-radius: 3px;
  padding: 10px 0;
  z-index: 3;
}

.user-item {
  display: flex;
  white-space: nowrap;
  align-items: center;
  padding: 0 30px 0 20px;
  cursor: pointer;
}

.user-item:hover {
  background-color: var(--midle-light-bg-color);
}

.head-user .material-icons {
  color: var(--light-text-color);
}

.main-icon {
  cursor: pointer;
}
