<div class="user-wrapper"
     (mouseenter)="showContent(true)"
     (mouseleave)="showContent(false)"
>
  <div class="head-user">
    <i class="material-icons main-icon" style="font-size: 30px">
      account_circle
    </i>
  </div>
  <div *ngIf="visibleContent" class="user-content">
    <div class="user-item" (click)="logout()">
      <i class="material-icons" style="font-size: 30px">
        exit_to_app
      </i>
      <span i18n="@@logout">Logout</span>
    </div>
  </div>
</div>
