<div *ngIf="tasks && totalPagesObservable | async">
  <div class="table-header-row">
    <div class="cell" i18n="@@title">Title</div>
    <div class="cell" i18n="@@description">Description</div>
    <div class="cell" i18n="@@status">Status</div>
    <div class="cell cell-small" i18n="@@action">Action</div>
  </div>
  <div class="table-row"
       *ngFor="let task of tasks | async | paginate: {itemsPerPage: sizePerPage, currentPage: page, totalItems: totalPages }">
    <div class="cell"><div class="cell-name" i18n="@@title">Title</div><div>{{task.name}}</div></div>
    <div class="cell"><div class="cell-name" i18n="@@description">Description</div><div>{{task.text}}</div></div>
    <div class="cell"><div class="cell-name" i18n="@@status">Status</div><div>{{task.statusId.name}}</div></div>
    <div class="cell cell-small">
      <div class="cell-name" i18n="@@action">Action</div>
      <button class="delete-task-button" *ngIf="task.statusId.id === 1" (click)="deleteTask(task.id)">
        <i class="material-icons" style="font-size: 30px">
          clear
        </i>
      </button>
    </div>

  </div>
</div>
<div class="pagination" *ngIf="tasks && totalPagesObservable | async">
  <pagination-controls
    class="controls_paginator"
    previousLabel="Backwards"
    nextLabel="Forward"
    i18n-previousLabel="@@backwards"
    i18n-nextLabel="@@forward"
    (pageChange)="changePage($event)"
  ></pagination-controls>
  <div class="pagination-per-page">
    <div i18n="@@elements-per-page">Elements per page</div>
    <label>
      <select [(ngModel)]="sizePerPage" (change)="changeElements()" class="field-select">
        <option value="10">10</option>
        <option value="20">20</option>
        <option value="50">50</option>
        <option value="100">100</option>
      </select>
    </label>
  </div>
</div>
<div *ngIf="hasError | async" i18n="@@error">Error</div>
<app-spinner *ngIf="isFetching | async"></app-spinner>
