<nav *ngIf="currentUser" class="navbar-wrapper">
  <div class="menuToggle">
    <input type="checkbox" />
    <span class="menu-span"></span>
    <span class="menu-span"></span>
    <span class="menu-span"></span>
  <ul class="list">
    <li *ngIf="hasRole(role.User)"><a routerLink="/mytasks" class="button" routerLinkActive="active"
                                      [routerLinkActiveOptions]="{exact: false}">
      <i class="material-icons" style="font-size: 30px">
        work_outline
      </i>
      <span i18n="@@my-tasks">My tasks</span>
    </a>
    </li>
    <li *ngIf="hasRole(role.Operator)"><a routerLink="/processtasks" (click)="assignOpen = !assignOpen;" class="button" routerLinkActive="active"
                                          [routerLinkActiveOptions]="{exact: false}">
      <i class="material-icons" style="font-size: 30px">
        trending_flat
      </i>
      <span i18n="@@process-tasks">Process tasks</span>
      <span *ngIf="!assignOpen" class="dropdown">▼</span>
      <span *ngIf="assignOpen" class="dropdown">▲</span>
    </a>
      <app-assign-menu *ngIf="assignOpen" [@EnterLeave]="'flyIn'"></app-assign-menu>
    </li>
    <li *ngIf="hasRole(role.Executor)"><a routerLink="/performtasks" class="button" routerLinkActive="active"
                                          [routerLinkActiveOptions]="{exact: false}">
      <i class="material-icons" style="font-size: 30px">
        done_outline
      </i>
      <span i18n="@@perform-tasks">Perform tasks</span>
    </a></li>
    <li *ngIf="hasRole(role.Admin)"><a routerLink="/admin" (click)="adminOpen = !adminOpen;" class="button" routerLinkActive="active"
                                       [routerLinkActiveOptions]="{exact: false}">
      <i class="material-icons" style="font-size: 30px">
        settings
      </i>
      <span i18n="@@administration">Administration</span>
      <span *ngIf="!adminOpen" class="dropdown">▼</span>
      <span *ngIf="adminOpen" class="dropdown">▲</span>
    </a>
      <app-menu-administration *ngIf="adminOpen"></app-menu-administration>
    </li>
  </ul>
  </div>
</nav>

