.button {
  position: relative;
  display: flex;
  align-items: center;
  text-shadow: none;
  font-size: 14px;
  cursor: pointer;
  min-height: 34px;
  vertical-align: baseline;
  text-transform: none;
  line-height: 14px;
  text-align: center;
  text-decoration: none;
  border-radius: .3rem;
  transition: opacity .1s ease, background-color .1s ease, color .1s ease, box-shadow .1s ease, background .1s ease, -webkit-box-shadow .1s ease;
  color: var(--dark-text-color);
  background-color: var(--light-bg-color);
  box-shadow: 0 0 0 0 rgba(34, 36, 38, .15) inset;
}

.button:hover {
  background-color: var(--midle-light-bg-color);
}

.list {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

.list li {
  margin-bottom: 5px;
}

a, a:visited, a:hover {
  color: var(--dark-text-color);
  text-decoration: none;
}

.material-icons {
  margin-left: 20px;
  margin-right: 20px;
}

.active {
  background-color: var(--midle-light-bg-color);
}

.dropdown {
  position: absolute;
  right: 10px;
}

.navbar-wrapper{
  display: flex;
  flex-direction: column;
  width: 250px;
  /*height: calc(100% - 2rem);*/
}

input {
  display: none;
}

@media (max-width: 950px){

  .navbar-wrapper{
    width: 35px;
    padding: 0 1rem 1rem 0;
  }

  .menuToggle{
    z-index: 1000;
    -webkit-user-select: none;
    user-select: none;
  }

  .menuToggle input
  {
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 70px;
    left: 10px;
    cursor: pointer;

    opacity: 0; /* hide this */
    z-index: 1002; /* and place it over the hamburger */
    -webkit-touch-callout: none;
  }

  .menu-span
  {
    display: block;
    width: 40px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    top: 5px;

    background: var(--dark-bg-color);
    border-radius: 3px;
    z-index: 1000;

    transform-origin: 5px 0px;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
    background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
    opacity 0.55s ease;
  }

  .menu-span:first-child
  {
    transform-origin: 0% 0%;
  }

  .menu-span:nth-last-child(2)
  {
    transform-origin: 25% 100%;
  }

  .menuToggle input:checked ~ .menu-span
  {
    opacity: 1;
    transform: rotate(45deg) translate(1px, 0px);
  }

  .menuToggle input:checked ~ .menu-span:nth-last-child(3)
  {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }

  .menuToggle input:checked ~ .menu-span:nth-last-child(2)
  {
    transform: rotate(-45deg) translate(0, -1px);
  }

  .menuToggle{
    height: calc(100% - 70px);
  }

  .list
  {
    height: 100%;
    width: 250px;
    margin: -43px 0 0 -60px;
    padding: 70px 20px 50px 50px;
    background: white;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */

    border-right: 1px solid var(--dark-bg-color);
    border-bottom: 1px solid var(--dark-bg-color);
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);

    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  }

  .menuToggle input:checked ~ ul
  {
    transform: none;
  }
}
