<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="form">
  <div class="header" i18n="@@login">Login</div>
  <div class="form-content">
    <div class="input-container">
      <label i18n="@@email">
        Email
      </label>
      <input i18n-placeholder="@@email" placeholder="email" type="text" formControlName="email"/>
      <div *ngIf="submitted && f.email.errors">
        <div *ngIf="f.email.errors.required" class="error" i18n="@@required">The field is required</div>
      </div>
    </div>
    <div class="input-container">
      <label i18n="@@password">
        Password
      </label>
      <input i18n-placeholder="@@password" placeholder="password" type="password" formControlName="password"/>
      <div *ngIf="submitted && f.password.errors">
        <div *ngIf="f.password.errors.required" class="error" i18n="@@required">The field is required</div>
      </div>
    </div>
    <div class="button">
      <app-button-with-spinner
        [title]="'OK'"
        [showSpinner]="loading"
      >
      </app-button-with-spinner>
    </div>
    <div class="register-link">
      <span i18n="@@do-not-have-account">Don't have an account?</span>
      <a routerLink="/auth/signup" i18n="@@register">Register</a>
    </div>
    <div *ngIf="error" i18n="@@error">Error</div>
  </div>
</form>
