input {
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 14px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: .3rem;
  outline: 0;
  box-sizing: border-box;
}

.input-container {
  margin-bottom: 20px;
  width: 100%;
  color: var(--dark-text-color);
}

.form {
  width: 450px;
  border: 1px solid #ccc;
  border-radius: .3rem;
  background-color: var(--light-bg-color);
}

.header {
  background-color: var(--midle-light-bg-color);
  padding: 10px 15px;
  border-bottom: 1px solid #ccc;
  border-top-right-radius: .3rem;
  border-top-left-radius: .3rem;
  color: var(--dark-text-color);
}

.form-content {
  padding: 20px;
}

.register-link {
  text-align: center;
  width: 100%;
}

.error {
  color: var(--error);
}
a, a:visited, a:hover {
  color: var(--midle-light-text-color);
}

.button {
  margin-top: 40px;
  margin-bottom: 20px;
}
