<div class="table-row" *ngIf="task">
  <div class="cell"><div class="cell-name" i18n="@@title">Title</div><div>{{task.name}}</div></div>
  <div class="cell"><div class="cell-name" i18n="@@description">Description</div><div>{{task.text}}</div></div>
  <div class="cell"><div class="cell-name" i18n="@@status">Status</div><div>{{task.statusId.name}}</div></div>
  <div class="cell"><div class="cell-name" i18n="@@status">Date created</div><div>{{task.createdDate | date: 'dd.MM.yyyy HH:mm' }}</div></div>
  <div class="cell"><div class="cell-name" i18n="@@status">Date due</div><div>{{task.dueDate | date: 'dd.MM.yyyy HH:mm' }}</div></div>
  <div class="cell cell-small">
    <div class="cell-name" i18n="@@action">Action</div>
    <button class="set-task-button" (click)="performTask()" *ngIf="task.statusId.id!=3">
      <i class="material-icons" style="font-size: 30px">
        forward
      </i>
    </button>
  </div>
</div>
