.grid-container {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: auto auto auto;
}

.grid-item {
  background-color: var(--light-bg-color);
  border: 1px solid var(--midle-light-bg-color);
  border-radius: .3rem;
  padding: 20px;
  font-size: 30px;
  text-align: center;
  word-break: break-word;
  color: var(--dark-text-color);
}

.add-button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: none;
  font-size: 14px;
  cursor: pointer;
  min-height: 34px;
  outline: 0;
  border: none;
  vertical-align: baseline;
  padding: 6px 12px 6px 12px;
  text-transform: none;
  line-height: 14px;
  text-align: center;
  text-decoration: none;
  border-radius: .3rem;
  transition: opacity .1s ease, background-color .1s ease, color .1s ease, box-shadow .1s ease, background .1s ease, -webkit-box-shadow .1s ease;
  width: 200px;
  color: var(--light-text-color);
  background-color: var(--dark-bg-color);
  box-shadow: 0 0 0 0 rgba(34, 36, 38, .15) inset;
  margin-bottom: 20px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: none;
  font-size: 14px;
  cursor: pointer;
  min-height: 30px;
  outline: 0;
  border: none;
  vertical-align: baseline;
  text-transform: none;
  line-height: 14px;
  text-align: center;
  text-decoration: none;
  border-radius: .3rem;
  transition: opacity .1s ease, background-color .1s ease, color .1s ease, box-shadow .1s ease, background .1s ease, -webkit-box-shadow .1s ease;
  width: 60px;
  color: var(--dark-text-color);
  background-color: var(--light-bg-color);
  box-shadow: 0 0 0 0 rgba(34, 36, 38, .15) inset;
  margin-right: 10px;
}

.button:hover {
  background-color: var(--midle-light-bg-color);
}

.controls {
  display: flex;
  width: 100%;
  justify-content: center;
}

@media (max-width: 950px) {
  .grid-container {
    grid-template-columns: auto auto;
  }
}

@media (max-width: 500px) {
  .grid-container {
    grid-template-columns: auto;
  }

  .add-button {
    width: 100%;
  }
}
