<div>
  <button class="add-button" (click)="createSubdivision()" i18n="@@create-subdivision">Create subdivision</button>
</div>

<div *ngIf="subdivisions" class="grid-container">
  <div class="grid-item" *ngFor="let subdivision of subdivisions">
    <div>{{subdivision.name}}</div>
    <div class="controls">
      <button class="button" (click)="selectSubdivision(subdivision)">
        <i class="material-icons" style="font-size: 30px">
          edit
        </i>
      </button>
      <button class="button" (click)="deleteSubdivision(subdivision.id)">
        <i class="material-icons" style="font-size: 30px">
          close
        </i>
      </button>
    </div>
  </div>
</div>

<div *ngIf="hasError" i18n="@@error">Error</div>
<app-spinner *ngIf="isFetching"></app-spinner>

<app-update-subdivision-form
  *ngIf="openDialog"
  [subdivision]="selectedSubdivision"
  [type]="dialogType"
  [(visible)]="openDialog"
  (subdivisionChange)="changeSubdivision(event)"
>
</app-update-subdivision-form>

