<form [formGroup]="signupForm" (ngSubmit)="onSubmit()" class="form">
  <div class="header" i18n="@@register">Register</div>
  <div class="form-content">
    <div class="input-container">
      <label i18n="@@name">
        Name
      </label>
      <input type="text" i18n-placeholder="@@name" placeholder="name" formControlName="name"/>
      <div *ngIf="submitted && f.name.errors">
        <div *ngIf="f.name.errors.required" class="error" i18n="@@required">The field is required</div>
      </div>
    </div>
    <div class="input-container">
      <label i18n="@@surname">
        Surname
      </label>
      <input type="text" i18n-placeholder="@@surname" placeholder="surname" formControlName="family"/>
      <div *ngIf="submitted && f.family.errors">
        <div *ngIf="f.family.errors.required" class="error" i18n="@@required">The field is required</div>
      </div>
    </div>
    <div class="input-container">
      <label i18n="@@email">
        Email
      </label>
      <input type="text" i18n-placeholder="@@email" placeholder="email" formControlName="email"/>
      <div *ngIf="submitted && f.email.errors">
        <div *ngIf="f.email.errors.required" class="error" i18n="@@required">The field is required</div>
        <div *ngIf="f.email.errors.email" class="error">Wrong email</div>
      </div>
    </div>
    <div class="input-container">
      <label i18n="@@password">
        Password
      </label>
      <input type="password" i18n-placeholder="@@password" placeholder="password" formControlName="password"/>
      <div *ngIf="submitted && f.password.errors">
        <div *ngIf="f.password.errors.required" class="error" i18n="@@required">The field is required</div>
      </div>
    </div>
    <div class="button">
      <app-button-with-spinner
        [title]="'OK'"
        [showSpinner]="loading"
      >
      </app-button-with-spinner>
    </div>
    <div class="login-link">
      <span i18n="@@have-account">Already have an account?</span>
      <a routerLink="/auth/login" i18n="@@login">Login</a>
    </div>
    <div *ngIf="error" i18n="@@error">Error</div>
  </div>
</form>
