<div *ngIf="users && users.length > 0" id="contentToConvert">
  <div class="table-header-row" >
    <div class="cell" i18n="@@name">Name</div>
    <div class="cell" i18n="@@email">Email</div>
    <div class="cell" i18n="@@subdivision">Subdivision</div>
    <div class="cell" i18n="@@branch">Branch</div>
    <div class="cell cell-small" i18n="@@action">Action</div>
  </div>

  <div class="table-row"
       *ngFor="let user of users | paginate: {itemsPerPage: sizePerPage, currentPage: page, totalItems: totalPages }">
    <div class="cell">
      <div class="cell-name" i18n="@@name">Name</div>
      <div>{{user.name + " " + user.family}}</div>
    </div>
    <div class="cell">
      <div class="cell-name" i18n="@@email">Email</div>
      <div>{{user.email}}</div>
    </div>
    <div class="cell">
      <div class="cell-name" i18n="@@subdivision">Subdivision</div>
      <div *ngIf="user.subdivisionId">
        {{user.subdivisionId.name}}
      </div>
    </div>
    <div class="cell">
      <div class="cell-name" i18n="@@branch">Branch</div>
      <div *ngIf="user.branchId">
        {{user.branchId.name}}
      </div>
    </div>
    <div class="cell cell-small">
      <div class="cell-name" i18n="@@action">Action</div>
      <div class="button-flex">
        <button class="button" (click)="selectUser(user)">
          <i class="material-icons" style="font-size: 30px">
            edit
          </i>
        </button>
        <button class="button" (click)="deleteUser(user.id)">
          <i class="material-icons" style="font-size: 30px">
            close
          </i>
        </button>
      </div>
    </div>
  </div>
</div>

<div class="pagination" *ngIf="users && users.length > 0">
  <pagination-controls
    class="controls_paginator"
    previousLabel="Backwards"
    nextLabel="Forward"
    i18n-previousLabel="@@backwards"
    i18n-nextLabel="@@forward"
    (pageChange)="changePage($event)"
  ></pagination-controls>
  <div class="pagination-per-page">
    <div i18n="@@elements-per-page">Elements per page</div>
    <label>
      <select [(ngModel)]="sizePerPage" (change)="getData()" class="field-select">
        <option value="10">10</option>
        <option value="20">20</option>
        <option value="50">50</option>
        <option value="100">100</option>
      </select>
    </label>
  </div>
</div>
<div *ngIf="error" i18n="@@error">Error</div>
<app-spinner *ngIf="isFetching"></app-spinner>


<app-update-user-form
  *ngIf="openDialog"
  [user]="selectedUser"
  [subdivisions]="subdivisions"
  [branches]="branches"
  [(visible)]="openDialog"
  (userChange)="userChange(event)"
>
</app-update-user-form>

