<div
  class="change-theme-wrapper"
  (mouseenter)="showContent(true)"
  (mouseleave)="showContent(false)"
>
  <div class="head-theme">
    <i class="material-icons main-icon" style="font-size: 30px">
      language
    </i>
  </div>
  <div *ngIf="visibleContent" class="theme-content">
    <div class="theme-item" *ngFor="let lang of languages">
      <i class="material-icons" style="font-size: 30px">
        language
      </i>
      <a href="/{{lang.code}}/#{{currentUrl}}">{{lang.label}}</a>
    </div>
  </div>
</div>
