<div class="row">
  <ul class="navbar">
    <li><a routerLink="/processtasks/assigntasks" class="button" routerLinkActive="active" [routerLinkActiveOptions]="{exact: false}">
      <span i18n="@@assign-tasks">Assign tasks</span>
    </a></li>
    <li><a routerLink="/processtasks/closetasks" class="button" routerLinkActive="active" [routerLinkActiveOptions]="{exact: false}">
      <span i18n="@@close-tasks">Close tasks</span>
    </a></li>
  </ul>
</div>
