.button {
  display: flex;
  align-items: center;
  text-shadow: none;
  font-size: 14px;
  cursor: pointer;
  min-height: 34px;
  vertical-align: baseline;
  text-transform: none;
  line-height: 14px;
  padding-left: 20px;
  text-decoration: none;
  transition: opacity .1s ease, background-color .1s ease, color .1s ease, box-shadow .1s ease, background .1s ease, -webkit-box-shadow .1s ease;
  color: var(--dark-text-color);
  box-shadow: 0 0 0 0 rgba(34, 36, 38, .15) inset;
}

.button:hover {
  background-color: var(--midle-light-bg-color);
}

.navbar {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

.navbar li {
  border-bottom: 1px solid var(--light-bg-color);
}

.navbar li:last-of-type {
  border-bottom: 0;
}

a, a:visited, a:hover {
  color: var(--dark-text-color);
  text-decoration: none;
}

.material-icons {
  margin-left: 20px;
  margin-right: 20px;
}

.active {
  background-color: var(--light-bg-color);
}
