.lds-dual-ring {
  display: inline-block;
  width: 40px;
  height: 40px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 38px;
  height: 38px;
  margin: 1px;
  margin-left: 5px;
  border-radius: 50%;
  border: 5px solid var(--dark-bg-color);
  border-color: var(--dark-bg-color) transparent var(--dark-bg-color) transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0, 0.5);
}

.spinner-wrapper {
 position: absolute;
  top: 50%;
  left: 50%;
}
