.lds-dual-ring {
  display: inline-block;
  width: 14px;
  height: 14px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 12px;
  height: 12px;
  margin: 1px;
  margin-left: 5px;
  border-radius: 50%;
  border: 2px solid rgba(0,0,0,.6);
  border-color: rgba(0,0,0,.6) transparent rgba(0,0,0,.6) transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
