input, select, textarea {
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 14px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: .3rem;
  outline: 0;
  box-sizing: border-box;
}

.input-container {
  margin-bottom: 20px;
  width: 100%;
  color: var(--dark-text-color);
}

.form {
  width: 450px;
  border: 1px solid #ccc;
  border-radius: .3rem;
  background-color: var(--light-bg-color);
}

.header {
  background-color: var(--midle-light-bg-color);
  padding: 5px 15px;
  border-bottom: 1px solid #ccc;
  border-top-right-radius: .3rem;
  border-top-left-radius: .3rem;
  color: var(--dark-text-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-content {
  padding: 20px;
}

.error {
  color: var(--error);
}

.button {
  margin-top: 40px;
}

.add-task-button {
  cursor: pointer;
}

@media (max-width: 950px) {
  .form {
    width: 100%;
  }
}
