<form [formGroup]="createTaskForm" (ngSubmit)="onSubmit()" class="form">
  <div class="header">
    <div i18n="@@create-task">
      Create task
    </div>
    <div (click)="formOpened=!formOpened" class="add-task-button">
      <i class="material-icons" style="font-size: 30px">
        note_add
      </i>
    </div>
  </div>
  <div class="form-content" *ngIf="formOpened">
    <div class="input-container">
      <label i18n="@@title">
        Title
      </label>
      <input type="text" i18n-placeholder="@@title" placeholder="title" formControlName="title"/>
      <div *ngIf="submitted && f.title.errors">
        <div *ngIf="f.title.errors.required">Title is required</div>
      </div>
    </div>
    <div class="input-container">
      <label i18n="@@description">
        Description
      </label>
      <textarea placeholder="description" i18n-placeholder="@@description" formControlName="description"></textarea>
    </div>
    <div class="input-container">
      <label i18n="@@send-to-listener">
        Send to listener
      </label>
      <select formControlName="listenerId">
        <option [value]="listener.id" *ngFor="let listener of listeners">
          {{listener.subdivisionId['name']}}
        </option>
      </select>
      <div *ngIf="submitted && f.listenerId.errors">
        <div *ngIf="f.listenerId.errors.required">Listener is required</div>
      </div>
    </div>

    <div class="button">
      <app-button-with-spinner
        [title]="'OK'"
        [showSpinner]="loading"
      >
      </app-button-with-spinner>
    </div>

    <div *ngIf="error" i18n="@@error">Error</div>
  </div>
</form>
