.header {
  width: 100%;
  background-color: var(--dark-bg-color);
  padding: 5px 0;
  display: flex;
  justify-content: center;
}

.header-wrapper {
  max-width: 1930px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 10px;
}

.item {
  margin-right: 10px;
}

.logo {
  font-size: 35px;
  color: var(--light-text-color);
  margin-left: 10px;
}
