<div class="header">
  <div class="header-wrapper">
    <div class="logo">HelpDesk</div>
    <div class="controls">
      <app-change-language class="item"></app-change-language>
      <app-change-theme [class.item]="currentUser"></app-change-theme>
      <app-user *ngIf="currentUser"></app-user>
    </div>
  </div>
</div>
