<div class="table-row" *ngIf="task">
  <div class="cell"><div class="cell-name" i18n="@@title">Title</div><div>{{task.name}}</div></div>
  <div class="cell"><div class="cell-name" i18n="@@description">Description</div><div>{{task.text}}</div></div>
  <div class="cell"><div class="cell-name">Date created</div><div>{{task.createdDate | date: 'dd.MM.yyyy HH:mm'}}</div></div>
  <div class="cell"><div class="cell-name">Due date</div><div><input [(ngModel)]="dueDate" type="datetime-local"/></div></div>
  <div class="cell">
    <div class="cell-name" i18n="@@executor">Executor</div>
    <select [(ngModel)]="selectedExecutor" >
      <option *ngFor="let executor of executors" [value]="executor.id">{{executor.name + " " + executor.family}}
      </option>
    </select>
  </div>
  <div class="cell cell-small">
    <div class="cell-name" i18n="@@action">Action</div>
    <button class="set-task-button" (click)="setExecutor()">
      <i class="material-icons" style="font-size: 30px">
        forward
      </i>
    </button>
  </div>
</div>
