<div class="header">
  <app-header></app-header>
</div>
<div class="main-wrapper">
  <div class="content-wrapper">
    <app-menu></app-menu>
    <div class="content-item">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
