.main-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100% - 80px);
  min-height: 500px;
  width: calc(100% - 2rem);
  padding: 0 1em;
}

.content-wrapper{
  display: flex;
  height: 100%;
  width: 100%;
  max-width: 1930px;
}

.content-item{
  width: 100%;
  margin-left: 20px;
}

.header {
  margin-bottom: 20px;
}
