* {
  outline: 0 !important;
}

/*Remove border and padding in Firefox*/
::-moz-focus-outer, ::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 499;
}

.dialog {
  z-index: 500;
  position: fixed;
  right: 0;
  left: 0;
  top: 20px;
  margin-right: auto;
  margin-left: auto;
  min-height: 100px;
  width: 50%;
  padding: 1em;
  box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2), 0 13px 19px 2px rgba(0, 0, 0, 0.14), 0 5px 24px 4px rgba(0, 0, 0, 0.12);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc;
  border-radius: .3rem;
  background-color: var(--light-bg-color);
}

input {
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 14px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: .3rem;
  outline: 0;
  box-sizing: border-box;
}

.input-container {
  margin-bottom: 20px;
  width: 100%;
  color: var(--dark-text-color);
}

.form {
  width: 400px;
}

.header {
  background-color: var(--midle-light-bg-color);
  padding: 10px 15px;
  border-bottom: 1px solid #ccc;
  border-top-right-radius: .3rem;
  border-top-left-radius: .3rem;
  color: var(--dark-text-color);
}

.form-content {
  padding: 20px;
}
