<div *ngIf="tasks && tasks.length > 0">
  <div class="table-header-row">
    <div class="cell" i18n="@@title">Title</div>
    <div class="cell" i18n="@@description">Description</div>
    <div class="cell" i18n="@@date-created">Date created</div>
    <div class="cell" i18n="@@due-date">Due date</div>
    <div class="cell" i18n="@@executor">Executor</div>
    <div class="cell cell-small" i18n="@@action">Action</div>
  </div>

  <app-assign-tasks-table-item
    *ngFor="let task of tasks | paginate: {itemsPerPage: sizePerPage, currentPage: page, totalItems: totalPages }"
    [task]="task"
    [executors]="executors"
  ></app-assign-tasks-table-item>
</div>
<div class="pagination" *ngIf="tasks && tasks.length > 0">
  <pagination-controls
    class="controls_paginator"
    previousLabel="Backwards"
    nextLabel="Forward"
    i18n-previousLabel="@@backwards"
    i18n-nextLabel="@@forward"
    (pageChange)="changePage($event)"
  ></pagination-controls>
  <div class="pagination-per-page">
    <div i18n="@@elements-per-page">Elements per page</div>
    <label>
      <select [(ngModel)]="sizePerPage" (change)="getData()" class="field-select">
        <option value="10">10</option>
        <option value="20">20</option>
        <option value="50">50</option>
        <option value="100">100</option>
      </select>
    </label>
  </div>
</div>
<div *ngIf="error" i18n="@@error">Error</div>
<app-spinner *ngIf="isFetching"></app-spinner>
