<div class="dialog">
  <form [formGroup]="updateListenerForm" (ngSubmit)="onSubmit()" class="form">
    <div class="form-content">
      <div class="input-container">
        <label i18n="@@subdivision">
          Subdivision
        </label>
        <select formControlName="subdivisionId">
          <option [value]="subdivision.id" *ngFor="let subdivision of subdivisions">
            {{subdivision.name}}
          </option>
        </select>
      </div>
      <div class="input-container">
        <label i18n="@@operator">
          Operator
        </label>
        <select formControlName="systemUserId">
          <option [value]="operator.id" *ngFor="let operator of operators">
            {{operator.name + " " + operator.family}}
          </option>
        </select>
      </div>
      <div>
        <app-button-with-spinner
          [title]="'Submit'"
          [showSpinner]="loading"
        >
        </app-button-with-spinner>
      </div>
      <div *ngIf="error" i18n="@@error">Error</div>
    </div>
  </form>
</div>
<div class="overlay" (click)="close()"></div>
