<div class="container">
  <div class="items-container">
    <div class="item"
         *ngFor="let item of itemsList"
         [class.selected]="item.id === selectedItem.id"
         (click)="select(item)"
    >{{item.name}}
    </div>
  </div>
  <div class="buttons-container">
    <button class="button" (click)="moveToResult()">></button>
    <button class="button" (click)="moveAllToResult()">>></button>
    <button class="button" (click)="deleteFromResult()"><</button>
    <button class="button" (click)="deleteAllFromResult()"><<</button>
  </div>
  <div class="result-container">
    <div class="items-container">
      <div class="item"
           *ngFor="let item of resultItemsList"
           [class.selected]="item.id === selectedResultItem.id"
           (click)="selectResultItem(item)"
      >{{item.name}}
      </div>
    </div>
    <app-button-with-spinner
      [title]="'Download'"
      [showSpinner]="loading"
      (click)="download()"
      class="download-button"
    >
    </app-button-with-spinner>
  </div>
</div>

