.container {
  display: flex;
}

.items-container {
  flex: 1;
  border: 1px solid var(--dark-bg-color);
  border-radius: .3rem;
  min-height: 150px;
}

.result-container .items-container {
  margin-bottom: 5px;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  justify-content: center;
}

.item {
  padding: 5px;
  cursor: pointer;
}

.item:first-child {
  border-top-left-radius: .3rem;
  border-top-right-radius: .3rem;
}

.item:hover {
  background-color: var(--light-bg-color);
}

.selected {
  background-color: var(--midle-light-bg-color);
}

.result-container {
  flex: 1;
}

.download-button {
  margin-top: 20px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: none;
  font-size: 14px;
  cursor: pointer;
  outline: 0;
  border: none;
  vertical-align: baseline;
  padding: 6px 12px;
  text-transform: none;
  line-height: 14px;
  text-align: center;
  text-decoration: none;
  color: var(--light-text-color);
  background-color: var(--dark-bg-color);
  box-shadow: 0 0 0 0 rgba(34, 36, 38, .15) inset;
  border-bottom: 1px solid var(--light-bg-color);
}

.button:first-child {
  border-top-left-radius: .3rem;
  border-top-right-radius: .3rem;
}

.button:last-child{
  border-bottom-left-radius: .3rem;
  border-bottom-right-radius: .3rem;
}

@media (max-width: 500px) {
  .container {
    flex-direction: column;
  }
  .buttons-container {
    flex-direction: row;
    padding: 5px 0;
  }

  .button {
    flex: 1;
    border-left: 1px solid var(--light-bg-color);
    border-bottom: 0;
  }

  .button:first-child {
    border-radius: .3rem 0 0 .3rem;
  }

  .button:last-child{
    border-radius: 0 .3rem .3rem 0;
  }

}
