<div class="dialog">
  <form [formGroup]="updateUserForm" (ngSubmit)="onSubmit()" *ngIf="user" class="form">
    <div class="form-content">
      <div class="input-container">
        <label i18n="@@name">
          Name
        </label>
        <input type="text" i18n-placeholder="@@name" placeholder="name" formControlName="name"
               [ngClass]="{ 'is-invalid': submitted && f.name.errors }"/>
        <div *ngIf="submitted && f.name.errors">
          <div *ngIf="f.name.errors.required" i18n="@@required">The field is required</div>
        </div>
      </div>
      <div class="input-container">
        <label i18n="@@surname">
          Surname
        </label>
        <input type="text" i18n-placeholder="@@surname" placeholder="surname" formControlName="family"
               [ngClass]="{ 'is-invalid': submitted && f.family.errors }"/>
        <div *ngIf="submitted && f.family.errors">
          <div *ngIf="f.family.errors.required" i18n="@@required">The field is required</div>
        </div>
      </div>
      <div class="input-container">
        <label i18n="@@email">
          Email
        </label>
        <input type="text" i18n-placeholder="@@email" placeholder="email" formControlName="email"/>
        <div *ngIf="submitted && f.email.errors">
          <div *ngIf="f.email.errors.required" i18n="@@required">The field is required</div>
          <div *ngIf="f.email.errors.email">Wrong email</div>
        </div>
      </div>
      <div class="input-container">
        <label i18n="@@subdivision">
          Subdivision
        </label>
        <select formControlName="subdivisionId">
          <option [value]="sub.id" *ngFor="let sub of subdivisions">
            {{sub.name}}
          </option>
        </select>
      </div>
      <div class="input-container">
        <label i18n="@@branch">
          Branch
        </label>
        <select formControlName="branchId">
          <option [value]="branch.id" *ngFor="let branch of branches">
            {{branch.name}}
          </option>
        </select>
      </div>
      <div>
        <app-button-with-spinner
          [title]="'OK'"
          [showSpinner]="loading"
        >
        </app-button-with-spinner>
      </div>
    </div>
    <div *ngIf="error" i18n="@@error">Error</div>
  </form>
</div>
<div class="overlay" (click)="close()"></div>

