.cell {
  padding: 0 5px;
  flex: 1;
  word-break: break-word;
  display: flex;
  align-items: center;
  min-width: 100px;
}

.cell-small {
  flex: 0;
  width: 100px;
}

.table-header-row {
  width: 100%;
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: var(--dark-bg-color);
  border-radius: 0.3rem 0.3rem 0 0;
  color: var(--light-text-color);
}

.table-row {
  width: 100%;
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: var(--light-bg-color);
  /*border-radius: 0.3rem 0.3rem 0 0;*/
  color: var(--dark-text-color);
}

.table-row:last-child {
  border-radius: 0 0 0.3rem 0.3rem;
}

.table-row:hover {
  background-color: var(--midle-light-bg-color);
}

.pagination-per-page {
  display: flex;
  align-items: center;
  margin-left: 40px;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.controls_paginator {
  color: var(--dark-text-color);
}

.controls_paginator /deep/ .ngx-pagination a {
  color: var(--dark-text-color);
  outline: 0;
  border-radius: .3em;
}

.controls_paginator /deep/ .ngx-pagination a:hover {
  background-color: var(--midle-light-bg-color);
}

.controls_paginator /deep/ .ngx-pagination .current {
  background-color: var(--dark-bg-color);
  border-radius: .3em;
}

/*select input*/

.field-select {
  outline: none;
  border-radius: .3rem;
  padding: .3em 5px;
  font-size: 1em;
  background-color: var(--dark-bg-color);
  color: var(--light-text-color);
  width: 60px;
  margin-left: 5px;
  cursor: pointer;
}

.delete-task-button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: none;
  font-size: 14px;
  cursor: pointer;
  min-height: 30px;
  outline: 0;
  border: none;
  vertical-align: baseline;
  text-transform: none;
  line-height: 14px;
  text-align: center;
  text-decoration: none;
  border-radius: .3rem;
  transition: opacity .1s ease, background-color .1s ease, color .1s ease, box-shadow .1s ease, background .1s ease, -webkit-box-shadow .1s ease;
  width: 60px;
  color: var(--dark-text-color);
  background-color: var(--light-bg-color);
  box-shadow: 0 0 0 0 rgba(34, 36, 38, .15) inset;
}

@media (max-width: 950px) {
  .table-header-row {
    display: none;
  }
}
