button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: none;
  font-size: 14px;
  cursor: pointer;
  min-height: 34px;
  outline: 0;
  border: none;
  vertical-align: baseline;
  padding: 6px 12px 6px 24px;
  text-transform: none;
  line-height: 14px;
  text-align: center;
  text-decoration: none;
  border-radius: .3rem;
  transition: opacity .1s ease, background-color .1s ease, color .1s ease, box-shadow .1s ease, background .1s ease, -webkit-box-shadow .1s ease;
  width: 100%;
}

.enter{
  color: var(--light-text-color);
  background-color: var(--dark-bg-color);
  box-shadow: 0 0 0 0 rgba(34, 36, 38, .15) inset;
}

.enter:disabled{
  background-color: #e0e1e2;
  color: rgba(0,0,0,.6);
  cursor: default;
}

.spinner-wrp{
  width: 25px;
  height: 15px;
}
