<button type="submit" class="enter" [disabled]="disabled||showSpinner" [title]="tooltip">
    {{title}}
    <div class="spinner-wrp">
      <app-spinner-for-button *ngIf="showSpinner"></app-spinner-for-button>
    </div>
</button>
