.table-row {
  width: 100%;
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: var(--light-bg-color);
  color: var(--dark-text-color);
}

.table-row:hover {
  background-color: var(--midle-light-bg-color);
}

.cell {
  padding: 0 5px;
  flex: 1;
  word-break: break-word;
  display: flex;
  align-items: center;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: none;
  font-size: 14px;
  cursor: pointer;
  min-height: 30px;
  outline: 0;
  border: none;
  vertical-align: baseline;
  text-transform: none;
  line-height: 14px;
  text-align: center;
  text-decoration: none;
  border-radius: .3rem;
  transition: opacity .1s ease, background-color .1s ease, color .1s ease, box-shadow .1s ease, background .1s ease, -webkit-box-shadow .1s ease;
  width: 60px;
  color: var(--dark-text-color);
  background-color: var(--light-bg-color);
  box-shadow: 0 0 0 0 rgba(34, 36, 38, .15) inset;
}
