<div *ngIf="user && privileges">

  <form [formGroup]="form" (ngSubmit)="submit()" class="table-row">
    <div class="cell">{{user.name + " " + user.family}}</div>
    <div class="cell" formArrayName="privs" *ngFor="let priv of form.controls.privs.controls; let i = index">
      <div class="cell"><input type="checkbox" [formControlName]="i"/></div>
    </div>

    <div class="cell">
      <button class="button">
        <i class="material-icons" style="font-size: 30px">
          forward
        </i>
      </button>
    </div>
  </form>

</div>

