/* You can add global styles to this file, and also import other style files */
body{
  font-family: Lato,Helvetica Neue,Arial,Helvetica,sans-serif;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


:root {
  --red-hue: 360;
  --blue-hue: 240;
  --green-hue: 120;

  --main-hue: var(--blue-hue);
  --theme-darkness: 1;
  --error: hsl(var(--red-hue), 50%, 50%);

  --dark-bg-color: hsl(var(--main-hue), 50%, 20%);
  --midle-light-bg-color: hsl(var(--main-hue), 93%, 88%);
  --light-bg-color: hsl(var(--main-hue), 50%, 95%);

  --dark-text-color: hsl(var(--main-hue), 50%, 10%);
  --midle-light-text-color: hsl(var(--main-hue), 50%, 50%);
  --light-text-color: hsl(var(--main-hue), 50%, 95%);
  filter: brightness(var(--theme-darkness));
}
