<div class="row">
  <ul class="navbar">
    <li><a routerLink="/admin/users" class="button" routerLinkActive="active" [routerLinkActiveOptions]="{exact: false}">
        <span i18n="@@users">Users</span>
    </a></li>
    <li><a routerLink="/admin/subdivisions" class="button" routerLinkActive="active" [routerLinkActiveOptions]="{exact: false}">
        <span i18n="@@subdivisions">Subdivisions</span>
    </a></li>
    <li><a routerLink="/admin/branches" class="button" routerLinkActive="active" [routerLinkActiveOptions]="{exact: false}">
        <span i18n="@@branches">Branches</span>
    </a></li>
    <li><a routerLink="/admin/privileges" class="button" routerLinkActive="active" [routerLinkActiveOptions]="{exact: false}">
        <span i18n="@@privileges">Privileges</span>
    </a></li>
    <li><a routerLink="/admin/listeners" class="button" routerLinkActive="active" [routerLinkActiveOptions]="{exact: false}">
        <span i18n="@@listeners">Listeners</span>
    </a></li>
    <li><a routerLink="/admin/report" class="button" routerLinkActive="active" [routerLinkActiveOptions]="{exact: false}">
      <span i18n="@@report">Report</span>
    </a></li>
  </ul>
</div>
