<div *ngIf="users && users.length > 0">
  <div class="table-header-row">
    <div class="cell"></div>
    <div class="cell" *ngFor="let priv of privileges">
      {{priv.translate_name}}
    </div>
    <div class="cell"></div>
  </div>
  <div *ngFor="let user of users | paginate: {itemsPerPage: sizePerPage, currentPage: page, totalItems: totalPages }">
    <app-privileges-administration-item
      [user]="user"
      [privileges]="privileges"
    ></app-privileges-administration-item>
  </div>
</div>
<div class="pagination" *ngIf="users && users.length > 0">
  <pagination-controls
    class="controls_paginator"
    previousLabel="Backwards"
    nextLabel="Forward"
    i18n-previousLabel="@@backwards"
    i18n-nextLabel="@@forward"
    (pageChange)="changePage($event)"
  ></pagination-controls>
  <div class="pagination-per-page">
    <div i18n="@@elements-per-page">Elements per page</div>
    <label>
      <select [(ngModel)]="sizePerPage" (change)="getData()" class="field-select">
        <option value="10">10</option>
        <option value="20">20</option>
        <option value="50">50</option>
        <option value="100">100</option>
      </select>
    </label>
  </div>
</div>
<div *ngIf="error" i18n="@@error">Error</div>
<app-spinner *ngIf="isFetching"></app-spinner>
