<div class="dialog">
  <form [formGroup]="updateSubdivisionForm" (ngSubmit)="onSubmit()" class="form">
    <div class="form-content">
    <div class="input-container">
      <label i18n="@@name">
        Name
      </label>
      <input type="text" i18n-placeholder="@@name" placeholder="name" formControlName="name"
             [ngClass]="{ 'is-invalid': submitted && f.name.errors }"/>
      <div *ngIf="submitted && f.name.errors">
        <div *ngIf="f.name.errors.required" i18n="@@required">The field is required</div>
      </div>
    </div>
    <div>
      <app-button-with-spinner
        [title]="'OK'"
        [showSpinner]="loading"
      >
      </app-button-with-spinner>
    </div>
    <div *ngIf="error" i18n="@@error">Error</div>
    </div>
  </form>
</div>
<div class="overlay" (click)="close()"></div>
